body {
  @extend %size-base;
  font-family: map-get($family, secondary);
}

// generatore automatico classi in base alla mappa font
@each $font-key, $font-val in $family {
  .font-#{$font-key},
  %font-#{$font-key} {
    font-family: #{$font-val};
  }
}

.style-alpha,
%style-alpha {
  @extend %size-huge;
  font-family: map-get($family, primary);
  font-weight: 700;
  text-transform: uppercase;
}

.style-bravo,
%style-bravo {
  @extend %size-medium;
  font-family: map-get($family, primary);
  font-weight: 700;
  color: get-color(secondary);
}

.style-charlie,
%style-charlie {
  @extend %size-large;
  font-family: map-get($family, primary);
  font-weight: 700;
  text-transform: uppercase;

  &::after {
    content: '';
    display: block;
    max-width: 80px;
    height: 6px;
    background-color: get-color(terziary);
    margin-top: 10px;
  }
}

.style-delta,
%style-delta {
  @extend %size-huge;
  font-family: map-get($family, primary);
  font-weight: 700;
  text-transform: uppercase;

  &::after {
    content: '';
    display: block;
    max-width: 80px;
    height: 6px;
    background-color: get-color(terziary);
    margin-top: 10px;
  }
}

.style-echo,
%style-echo {
  @extend %size-medium-large;
  font-family: map-get($family, primary);
  font-weight: 700;
}

.style-foxtrot,
%style-foxtrot {
  @extend %size-big;
  font-family: map-get($family, primary);
  font-weight: 700;
}

.style-golf,
%style-golf {
  @extend %size-medium;
  font-family: map-get($family, primary);
  font-weight: 400;
}

.style-hotel,
%style-hotel {
  @extend %size-small;
  font-family: map-get($family, primary);
  font-weight: 700;
  color: get-color(secondary);
}

.style-india,
%style-india {
  @extend %size-medium-large;
  font-family: map-get($family, primary);
  font-weight: 700;
  text-transform: uppercase;
}

.style-juliett,
%style-juliett {
  @extend %size-medium-large;
  font-family: map-get($family, primary);
}

.style-kilo,
%style-kilo {
  @extend %size-big;
  font-family: map-get($family, primary);
  position: relative;
  padding-bottom: 25px;
  text-align: center;
  font-style: italic;

  &:before {
    content: '';
    width: 150px;
    height: 1px;
    background-color: get-color(primary);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}


p {
  margin: 1.5rem 0;

  &:last-child {
    margin: 0;
  }
}

ul li {
  margin: 1.5rem 0;
}

blockquote {
  quotes: "“" "”" "‘" "’"; 
  padding-top: 6.5rem;
  position: relative;
  font-weight: 400;
  
  &:before {
    content: open-quote;
    display: block;
    font-size: 10rem;
    line-height: 100%;
    position: absolute;
    left: calc(50% - 14px);
    transform: translateX(-50%);
    top: 0;
    font-family: serif;
  }

  &:after {
    display: none;
  }

  h2 {
    text-align: center;
    @extend %size-big;
    font-family: map-get($family, primary);
    font-style: italic;
    font-weight: 400;
    line-height: 5rem;

  }

  p {
    @extend %size-small;
    text-align: center;
    margin-top: 25px!important;
    font-style: italic;
    padding-top: 10px;
    position: relative;

    &:before {
      content: '';
      width: 150px;
      height: 1px;
      background-color: get-color(primary);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
  }

}

// Definition list
@for $i from 0 through 30 {
  $op: $i / 10;

  dl.definitionList-#{$i} {
    display: flex;
    flex-wrap: wrap;

    dt {
      width: #{$op}rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    dd {
      margin-left: 0;
      padding: 0;
      width: calc(100% - #{$op}rem);
      margin-bottom: 1.5rem;
    }
  }
}

.date {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;

  &--boxed {
    width: 81px;
    height: 81px;
    box-shadow: 0 1px 5px 0 rgba(124, 132, 149, 0.5);
    background-color: get-color(neutral-lowest);
    justify-content: center;
  }

  &__month {
    @extend %size-normal;
    font-family: map-get($family, primary);
    font-weight: 300;
    letter-spacing: 2.57px;
    line-height: 0.9;
    margin-bottom: 10px;
  }

  &__day {
    font-size: 3.6rem;
    font-family: map-get($family, primary);
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 0.8;
  }
}

// todo
.text {

  // Author
  &--author {
    strong:after {
      content: ' - ';
    }
  }

  &--price { 
    display: flex;
    flex-direction: column;

    & > * {
      line-height: 1.2;
    }
  }

  &--newspaper {
    column-gap: $newspaper-column-gap;
    column-rule: $newspaper-column-rule;
    column-count: 2; // in mobile sono sempre 2

    // generatore di colonne
    @for $i from 1 through 12 {

      @include respond-to("s-768") {
        &-col-#{$i} {
          column-count: #{$i};
        }
      }
    }
  }
}