.stripe {
  &-label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  &-field {
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px;
    background-image: none;
    background-color: #fff;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    color: #0a0a0a;
    border: 1px solid #f2f3f3;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
  }
}
