/* ----------------------------------------------------------- */
/* == tingle v0.12.0 */
/* ----------------------------------------------------------- */


  .tingle-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    cursor: pointer;
    transition: transform .2s ease;
  }
  
  /* confirm and alerts
  -------------------------------------------------------------- */
  
  .tingle-modal--confirm .tingle-modal-box {
    text-align: center;
  }
  
  /* modal
  -------------------------------------------------------------- */
  
  .tingle-modal--noOverlayClose {
    cursor: default;
  }
  
  .tingle-modal--noClose .tingle-modal__close {
    display: none;
  }
  
  .tingle-modal__close {
    @extend %size-big;
    position: fixed;
    top: 1rem;
    right: 3rem;
    z-index: 1000;
    padding: 0;
    width: 5rem;
    height: 5rem;
    border: none;
    background-color: transparent;
    color: #f0f0f0;
    font-family: monospace;
    line-height: 1;
    cursor: pointer;
    transition: color .3s ease;
  }
  
  .tingle-modal__closeLabel {
    display: none;
  }
  
  .tingle-modal__close:hover {
    color: get-color(neutral-lowest);
  }
  
  .tingle-modal-box {
    position: relative;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 4px;
    background: get-color(neutral-lowest);
    opacity: 1;
    cursor: auto;
    transition: transform .3s cubic-bezier(.175, .885, .32, 1.275);
    transform: scale(.8);
    width: 90%;

    @include respond-to("s-768") {  
      @at-root .tingle-modal--small & {width: 30%}
      @at-root .tingle-modal--medium & {width: 50%}
      @at-root .tingle-modal--large & {width: 90%}
    }

    @at-root .tingle-modal--transparent & {background-color: transparent;}
  }
  
  .tingle-modal-box__content {
    padding: 1.5rem;
  }
  
  .tingle-modal-box__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--spaced {
      padding: 0 1.5rem;
    }

    .button {
      margin: 0; // todo spostare dentro il bottone o i form
    }
}
  
  .tingle-modal-box__footer, 
  .tingle-modal-box__header {
    padding: 1.5rem 3rem;
    margin: -1.5rem -1.5rem 0;
    width: auto;
    background-color: get-color(neutral-medium-low);
    cursor: auto;
  }
  
  .tingle-modal-box__footer::after {
    display: table;
    clear: both;
    content: "";
  }
  
  .tingle-modal-box__footer--sticky {
    position: fixed;
    bottom: -200px; /* TODO : find a better way */
    z-index: 10001;
    opacity: 1;
    transition: bottom .3s ease-in-out .3s;
  }
  
  /* state
  -------------------------------------------------------------- */
  
  .tingle-enabled {
    overflow: hidden;
    height: 100%;
  }
  
  .tingle-modal--visible .tingle-modal-box__footer {
    bottom: 0;
  }
  
  .tingle-enabled .tingle-content-wrapper {
    filter: blur(15px);
  }
  
  .tingle-modal--visible {
    visibility: visible;
    opacity: 1;
  }
  
  .tingle-modal--visible .tingle-modal-box {
    transform: scale(1);
  }
  
  .tingle-modal--overflow {
    overflow-y: scroll;
    padding-top: 8vh;
  }
  
  /* btn
  -------------------------------------------------------------- */
  
  .tingle-btn {
    display: inline-block;
    margin: 0 .5rem;
    padding: 1rem 2rem;
    border: none;
    background-color: get-color(neutral-higher);
    box-shadow: none;
    color: get-color(neutral-lowest);
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    cursor: pointer;
    transition: background-color .4s ease;
  }
  
  .tingle-btn--primary {
    background-color: #3498db;
  }
  
  .tingle-btn--danger {
    background-color: #e74c3c;
  }
  
  .tingle-btn--default {
    background-color: #34495e;
  }
  
  .tingle-btn--pull-left {
    float: left;
  }
  
  .tingle-btn--pull-right {
    float: right;
  }
  
  /* responsive
  -------------------------------------------------------------- */
  
  @media (max-width : 540px) {
    .tingle-modal {
      top: 60px;
      display: block;
      
      width: 100%;
    }
  
    .tingle-modal-box {
      width: auto;
      border-radius: 0;
    }
  
    .tingle-modal-box__content {
      overflow-y: scroll;
    }
  
    .tingle-modal--noClose {
      top: 0;
    }
  
    .tingle-modal--noOverlayClose {
      padding-top: 0;
    }
  
    .tingle-modal-box__footer .tingle-btn {
      display: block;
      float: none;
      margin-bottom: 1rem;
      width: 100%;
    }
  
    .tingle-modal__close {
      top: 0;
      right: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 60px;
      border: none;
      background-color: #2c3e50;
      box-shadow: none;
      color: get-color(neutral-lowest);
      line-height: 55px;
    }
  
    .tingle-modal__closeLabel {
      display: inline-block;
      vertical-align: middle;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }
  
    .tingle-modal__closeIcon {
      display: inline-block;
      margin-right: .5rem;
      vertical-align: middle;
    }
  }
  