.alert {
  $alert-root: &;

  text-align: center;
  position: relative;
  border: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: get-color(primary);
  color: get-color(neutral-lowest);

  &--fixy {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  // variante rossa
  &--danger {
    background-color: get-color(error);;
    color: get-color(neutral-lowest);
  }

  &--browserupgrade { // todo
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    color: get-color(neutral-lowest);
    background: get-color(neutral-highest);
    z-index: 9;
  }

}
