.button {
  $root: &;

  $size-small: 22px;
  $size-normal: 42px;
  $size-base: 50px;
  $size-large: 57px;

  // Defaults
  display: inline-block;
  zoom:1;
  font-family: map-get($family, primary);
  font-weight: 400;
  font-size: 1.8rem;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 0;
  transition: opacity 200ms;
  height: $size-base;
  padding: 0 40px;

  @include respond-to('s-768') {
    margin-top: 0;
  }

  &::-moz-focus-inner { // moz fix
    padding: 0;
    border: 0
  }

  &-icontext {
    display: inline-flex;
    justify-content: center;
    align-items: center
  }

  &-interactive {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: $size-base;
    height: $size-base;
    border: 1px solid rgba(get-color(neutral-highest), .6);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: 999999;
    padding: 0;

    & > svg {
      width: 25px;
      height: 25px;
    }
  }

  // Status
  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    border-color: get-color(neutral-highest);
  }

  &[disabled] {
    border: 1px solid transparent;
    background-image: none;
    filter: alpha(opacity=40);
    opacity: .3;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none
  }

  &-shadow {
    box-shadow: 0 7px 20px 0 rgba(get-color(primary), 0.2);

    &-small {
      box-shadow: 0 1px 5px 0 rgba(get-color(neutral-medium), 0.5);
    }
  }

  &-transparent {
    background: transparent;
    border: 0;
  }

  &-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 0;
    width: $size-base;
    height: $size-base;

    &-square {
      border-radius: 2px;
    }

    &#{$root}-small {
      width: $size-small;
      height: $size-small;
    }

    &#{$root}-normal {
      width: $size-normal;
      height: $size-normal;
    }

    &#{$root}-large {
      width: $size-large;
      height: $size-large;
    }
  }

  &-outline {
    border: 1px solid;
    background-color: transparent;

    // Outline action
    &-action, 
    &-action:link,
    &-action:visited {
      @extend .button-outline;
      border-color: get-color(action);
      color: get-color(action);
    }
    &-action:hover {
      background: get-color(action);
      color: get-color(neutral-lowest);
    }
    
    // outline light
    &-light,
    &-light:link,
    &-light:visited {
      @extend .button-outline;
      border-color: get-color(neutral-lowest);
      color: get-color(neutral-lowest);
    }
    &-light:hover {
      background: get-color(neutral-lowest);
      color: get-color(neutral-highest);
    }

    // outline dark
    &-dark,
    &-dark:link,
    &-dark:visited {
      @extend .button-outline;
      border-color: get-color(neutral-highest);
      color: get-color(neutral-highest);
    }
    &-dark:hover {
      background: get-color(neutral-highest);
      color: get-color(neutral-lowest);
    }

  }

  &-primary,
  &-secondary,
  &-terziary,
  &-success,
  &-error,
  &-warning,
  &-paypal,
  &-facebook,
  &-twitter,
  &-pinterest {
    color: get-color(neutral-lowest)!important;
  }

  // Styles
  &-primary   {background: get-color(primary)}
  &-secondary {background: get-color(secondary)}
  &-terziary  {background: get-color(terziary)}
  &-action    {background: get-color(action)}
  
  &-success   {background: get-color(apple)}
  &-error     {background: get-color(carnation)}
  &-warning   {background: get-color(buttercup)}

  &-paypal    {background: get-color(paypal)}
  &-facebook  {background: get-color(facebook)}
  &-twitter   {background: get-color(twitter)}
  &-pinterest {background: get-color(pinterest)}

  // Size
  &-small   {
    height: $size-small;
    font-size: 1.2rem;
    padding: 0 2px;
  }
  
  &-large {
    height: $size-large;
    font-size: 2.2rem;
  }

  // others
  &-block {
    width: 100%;
  }

  &-form--filter {
    padding: 0.4rem 0.8rem;
    height: 2.9rem;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  &-form--inline {
    padding: 0.4rem 0.8rem;
    height: 3.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 0.2rem;
  }

}











