.counter {
  display: flex;
  color: get-color(primary);
  justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    display: flex;
    margin-bottom: .7rem;

    & > .icon {
      width: 50px;
      height: 50px;
    }
  }

  &__count {
    @extend %size-huge;
    font-weight: 700;
    padding-bottom: 4px;
    position: relative;
    margin-bottom: 1rem;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      bottom: 0;
      background: get-color(action);
    }
  }

  &__desc {
    @extend %size-small;
  }

}