.embed-responsive {
  @extend %embed-responsive;
  
  &-item {
    @extend %embed-responsive-item;
  }
  
  &-21by9 {
   @extend %embed-responsive-21by9;
  }
  
  &-16by9 {
    @extend %embed-responsive-16by9
  }
  
  &-4by3 {
    @extend %embed-responsive-4by3
  }
  
  &-1by1 {
    @extend %embed-responsive-1by1
  }
  
}