.logo { 
  margin: 0;
  display: flex;
  align-items: center;

  @at-root .header--vertical & {
    @include respond-to('s-768') {
      margin: 0 0 1.5rem;
    }
  }

  &__img {
    width: 100%;
  }

  &__text {
    @extend %size-medium;
    white-space: nowrap;
    color: get-color(neutral-lowest);

    @at-root .header--highlight & {
      color: get-color(primary);
    }
    
    @at-root .header--plain & {
      color: get-color(primary);
    }

    &-sub {
      font-size: 90%;
      display: block;
      text-align: center;
      color: get-color(neutral-higher);
    }
  }

}