.media {

  // Formato responsive
  &--responsive {
    @extend %media--responsive;
  }

  // Variante img in popover
  &--popover {
    @extend %media--popover;
  }

  // Variante decorazione
  &--deco {
    @extend %media--deco;
  }

  // gallery open
  &__openGallery {
    @extend %media__openGallery;
  }

  &--comics       {@extend %media--comics;}
  &--knam         {@extend %media--knam;}
  &--circle       {@extend %media--circle;}
  &--close        {@extend %media--close;}
  &--hexagon      {@extend %media--hexagon;}
  &--left_left    {@extend %media--left_left;}
  &--left_point   {@extend %media--left_point;} 
  &--pentagon     {@extend %media--pentagon;}
  &--rabbet       {@extend %media--rabbet;}
  &--rhombus      {@extend %media--rhombus;}
  &--right_point  {@extend %media--right_point;}
  &--right-right  {@extend %media--right-right;}
  &--star4        {@extend %media--star4;} 
  &--triangle     {@extend %media--triangle;}
  &--square       {@extend %media--square;}
  &--onLeft       {@extend %media--onLeft;}
  &--onRight      {@extend %media--onRight;}
  &--album        {@extend %media--album;}
  &--169          {@extend %media--169;}
}