.navigation {
  $navigation-root: &;

  padding: 0 1.6rem;
  max-width: map-get($breakpoints, s-1200 );

  &--right {
    margin-left: auto;
  }

  &--left {
    margin-right: auto;
  }

  @include respond-to('s-992') {
    margin-top: 0;
    order: 2
  }

  &--mobile {
    @include respond-to('s-992') {
      display: none;
    }
  }

  &__wrap {
    list-style: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 60px);
    height: 100vh;
    
    z-index: 999;
    box-shadow: 0 0px 8px 1px rgba(0,0,0,0.5);

    transition: opacity 200ms, left 200ms;
    transform: none;

    &--firstLevel {
      background: linear-gradient(to bottom, get-color(secondary) 0%,darken(get-color(secondary), 10%) 100%);
      overflow: auto;

      &#{$navigation-root}__wrap--visible {
        left: 0;
      }
      
      @include respond-to('s-992') {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    

    @include respond-to('s-992') {
      position: static;
      margin: 0;
      opacity: 1;
      height: auto;
      box-shadow: none;
      width: 100%;
      background: none;
      overflow: visible;
    }

    // Sottolivelli
    &--secondLevel,
    &--thirdLevel {
      width: 100%;
      opacity: 0;
      height: 0;
      overflow: hidden;
      position: static;
      box-shadow: none;

      &#{$navigation-root}__wrap--visible {
        opacity: 1;
        height: auto;
        overflow: visible;
      }

      // Solo versione desktop
      @include respond-to('s-992') {
        font-size: 90%;
        top: 100%;
        position: absolute;
        z-index: 999;
        border-radius: 3px;
        text-align: left;
        min-width: 18rem;
        width: auto;

        #{$navigation-root}--flat & {
          width: calc(100% + 3rem);
          top: 99%;
          border-radius: 0px;
          text-align: center;
          left: -1.5rem;
          justify-content: center;
          align-items: center;
          display: flex;
          overflow: hidden;
          transition: all 200ms 400ms;
        }
      }
    }

    &--secondLevel {
      background: get-color(secondary);

      @include respond-to('s-992') {
        left: 0;
      }
    }

    // secondo livello
    &--thirdLevel {
      background: get-color(secondary);

      @include respond-to('s-992') {
        left: auto;
        right: 100%;
        top:0
      }
      
    }
  
  }

  &__item {
    border-top: 1px solid darken(get-color(secondary), 8%);
    background: transparent;
    position: relative;
    margin: 0;
    white-space: nowrap;

    #{$navigation-root}--flat & {
      @include respond-to('s-992') {
        position: static;
      }
    }

    // Stile primo livello
    #{$navigation-root}__wrap--firstLevel > & {
      
      // in desktop e mobile primo livello i bordi non ci sono
      border: 0;

      @include respond-to('s-992') {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin: 0 1rem 0;
      }

    }

    // il primo item ha anche il border top
    &:first-child {
      border-top: 0;

      @include respond-to('s-992') {
        // in desktop primo livello, primo figlio i bordi non ci sono
        #{$navigation-root}__wrap--firstLevel > & {
          border: 0;
        }
      }

    }

  }

  // Ancore
  &__anchor {
    display: block;
    text-align: left;
    padding: 2rem;

    svg {
      width: 21px;
      height: 21px;
      
      #{$navigation-root}--flat #{$navigation-root}__wrap--secondLevel &, 
      #{$navigation-root}--flat #{$navigation-root}__wrap--thirdLevel & {
        margin: 0;
        width: 120px;
        height: 120px;
        opacity: 1;
        margin-bottom: 0rem;
        fill: get-color(neutral-medium-low);
      }
    }

    &:link,
    &:visited {
      
      @at-root .header--highlight & {
        color: get-color(primary);
      }

      @at-root .header--plain & {
        color: get-color(primary);
      }
    }

    @include respond-to('s-992') {
      padding: 1rem;
    }

    #{$navigation-root}__wrap--firstLevel > .navigation__item > & {
      color: get-color(neutral-lowest);
      
      @include respond-to('s-992') {
        display: flex;
        align-items: center;
        padding: .5rem;

        @at-root .header--alpha & {
          color: get-color(primary);
        }

        @at-root .header--charlie & {
          color: get-color(primary);
        }

        @at-root .header--delta & {
          color: get-color(primary);
        }

        @at-root .header__topbar & {
          color: get-color(primary);
        }

      }
      
      @include respond-to('s-992') {
        padding: 0;
      }
    }

    // flat version
    #{$navigation-root}--flat #{$navigation-root}__wrap--secondLevel > .navigation__item > &,
    #{$navigation-root}--flat #{$navigation-root}__wrap--thirdLevel > .navigation__item > & {
      flex-direction: column;
      display: flex;
      align-items: center;
      font-size: 1rem;
    }

    // Secondo livello
    #{$navigation-root}__wrap--secondLevel > .navigation__item > & {
      color: get-color(neutral-lowest);

      &:hover,
      &:active {
        background: darken(get-color(secondary), 5%);
      }
    }

    // Secondo livello
    #{$navigation-root}__wrap--thirdLevel > .navigation__item > & {
      color: get-color(neutral-lowest);

      &:hover,
      &:active {
        background: darken(get-color(secondary), 7%);
      }
    }

    // variante con freccia
    &--arrow {
      position: relative;
      padding-right: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include respond-to('s-992') {
        //justify-content: center;
      }
      
    }
  }

  // Solo su desktop i sottomenu vengono gestiti con l'hover.
  @include respond-to('s-992') {
    .js-openSubMenu:hover + .navigation__wrap,
    .js-openSubMenu + .navigation__wrap:hover {
      opacity: 1;
      height: auto;
      overflow: visible;
    }

    &.navigation--flat .js-openSubMenu:hover + .navigation__wrap,
    &.navigation--flat .js-openSubMenu + .navigation__wrap:hover {
      min-height: 130px;
      height: 155px;
    }
  }

  &__close {
    position: fixed;
    z-index: 9999;
    color: get-color(neutral-lowest);
    right: 66px;
    transform: rotate(45deg);
    width: 40px!important;
    height: 40px!important;
    top: 10px;
    display: block;


    @include respond-to('s-992') {
      display: none;
    }
  }

  // hamburger
  &__ham {
    position: absolute;
    display: block;
    left: 1.5rem;
    line-height: normal;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);

    &-bar {
      display: block;
      height: 2px;
      border-radius: 1px;
      background-color: get-color(neutral-lowest);
      width: 2.2rem;

      &:not(:first-child) {
        margin: 0.4rem auto 0;
      }

      &:nth-child(2) {
        width: 1.7rem;
        margin-left: 0;
      }

      @at-root .header--alpha & {
        background-color: get-color(terziary);
      }
      
    }

    @include respond-to('s-992') {
      display: none;
    }
  }


}