.progressbar {
  display: flex;
  background-color: get-color(neutral-medium-low);
  border-radius: 3px;
  position: relative;

  &--cart {
    margin-bottom: 80px;
    margin-top: 80px;
  }

  @keyframes progress-bar-stripes {
    from {
      background-position: 25px 0;
    }
    to {
      background-position: 0 0;
    }
  }

  &__line {
    display: flex;
    height: 15px;
    width: 0;
    background-color: get-color(primary);
    border-radius: 3px;
    transition: width 600ms;
    animation: progress-bar-stripes 1s linear infinite;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 25px 25px;
  }

  &__step {
    position: absolute;
    background-color: get-color(neutral-medium-low);
    padding: 2px 5px;
    border-radius: 2px;
    text-align: center;
    line-height: 1.5rem;
    border: 2px solid get-color(neutral-high);

    &--1 {
      left: 0;
      margin-left: -7px;
      bottom: calc(100% + 32px);
    }

    &--2 {
      left: 25%;
      transform: translateX(-50%);
      top: calc(100% + 32px);
    }

    &--3 {
      left: 50%;
      transform: translateX(-50%);
      bottom: calc(100% + 32px);
    }

    &--4 {
      left: 75%;
      transform: translateX(-50%);
      top: calc(100% + 32px);
    }

    &--5 {
      right: 0;
      margin-right: -7px;
      bottom: calc(100% + 32px);
    }


    // Circle
    &::after {
      content: '';
      width: 36px;
      height: 36px;
      background: get-color(neutral-medium-low);
      position: absolute;
      border-radius: 100%;
      border: 2px solid get-color(neutral-high);
    }

    // Negli step attivi, i circle hanno l'animazione
    @at-root .progressbar__step--active:after {
      animation: progress-bar-stripes 1s linear infinite;
      background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
      background-size: 25px 25px;
      background-color: black;
    }

    // Arrow
    &::before {
      content: '';
      width: 1px;
      height: 25px;
      background: get-color(neutral-high);
      position: absolute;
    }

    @at-root .progressbar__step--1::after {
      left: 0;
      top: calc(100% + 25px);
    }

    @at-root .progressbar__step--2::after {
      bottom: calc(100% + 25px);
      left: calc(50% - 18px);
    }

    @at-root .progressbar__step--3::after {
      left: calc(50% - 18px);
      top: calc(100% + 25px);
    }

    @at-root .progressbar__step--4::after {
      left: calc(50% - 18px);
      bottom: calc(100% + 25px);
    }

    @at-root .progressbar__step--5::after {
      right: 0;
      top: calc(100% + 25px);
    }

    @at-root .progressbar__step--1::before {
      left: 17px;
      top: 100%;
    }

    @at-root .progressbar__step--2::before {
      bottom: 100%;
      left: 50%
    }

    @at-root .progressbar__step--3::before {
      left: 50%;
      top: 100%;
    }

    @at-root .progressbar__step--4::before {
      left: 50%;
      bottom: 100%;
    }

    @at-root .progressbar__step--5::before {
      right: 18px;
      top: 100%;
    }
  }
}