.rating {
  $root: &;
  
  $max-level: 10;
  display: flex;
  align-items: center;

  &__wrap {
    display: flex;
    align-items: center;
  }
  
  &__item {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: get-color(action );

    #{$root}--stars & {
      background-color: transparent;
      color: get-color(action);
      font-size: 2rem;
      line-height: 2rem;
    }
    
    // prendo il valore del data-rate che mi arriva da back e lo uso per decolorare i pallini
    @for $i from 1 through $max-level {
      #{$root}[data-rate='#{$i}'] &:nth-child(#{$i}) ~ & {
        background: get-color(neutral-lower);
      }

      // stars
      #{$root}--stars[data-rate='#{$i}'] &:nth-child(#{$i}) ~ & {
        color: get-color(neutral-lower);
        background: transparent;
      }
    }

    &:not(:first-child) {
      margin-left: 4px;
    }
  }

  &__label {
    @extend %size-micro;
    line-height: 1;
    margin-left: 8px;
  }

}