.tag {
  @extend %tag;

  &--dark {
    @extend %tag--dark;
  }

  &--light {
    @extend %tag--light;
  }

  &--danger {
    @extend %tag--danger;
  }

  &--warning {
    @extend %tag--warning;
  }

  &--success {
    @extend %tag--success;
  }
}