.timeline {
  position: relative;
  min-height: 500px;
  width: 100%;
  padding: 60px 0;

  &__bar {
    @include position-absolute($top: 0, $left: 50%);
  
    width: $timeline-bar-width;
    height: 100%;
    transform: translateX(-50%);
    background-image: linear-gradient($timeline-bar-bg-start, $timeline-bar-bg-end);
    
    //decorations
    &:before,
    &:after {
      @include position-absolute($left: 50%);
      
      display: block;
      width: $timeline-bar-width + 6;
      height: $timeline-bar-width + 6;
      content: '';
      transform: translateX(-50%);
      border-radius: 50%;
    }
    
    &:before {
      top: -1px;
      background-color: $timeline-bar-bg-start;
    }
    
    &:after {
      bottom: -1px;
      background-color: $timeline-bar-bg-end;
    }
  }

  &__elem {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    @include respond-to("s-768") {
      flex-direction: row;
    }
  }

  &__elem--right {
    @include respond-to("s-768") {
      justify-content: flex-end;
    }
  }

  &__date { 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $timeline-date-dimensions;
    height: $timeline-date-dimensions;
    margin: auto;
    color: #fff;
    background-repeat: no-repeat;
    border-radius: $timeline-date-radius;
    border: 6px solid #fff;
    
    @include respond-to("s-768") {
      @include position-absolute($top: 50%, $left: 50%);
      transform: translate(-50%, -50%);
    }
  }

  &__date-day {
    font-size: 7rem;
    font-weight: 600;
    line-height: 1;
  }

  &__date-month {
    font-size: 1.45rem;
    line-height: 1;
  }

  &__event {
    position: relative;
    width: 90%;
    margin: 30px auto 0;
    border-radius: 3px;
    box-shadow: 
        0 2px 2px 0 rgba(0,0,0,0.14), 
        0 3px 1px -2px rgba(0,0,0,0.12), 
        0 1px 5px 0 rgba(0,0,0,0.2);
    
    background-color: #fff;
  
    @include respond-to("s-768") {
      width: calc((100% - #{$timeline-date-dimensions} - #{$timeline-event-decor-dimensions} * 4) / 2);
      margin: 0;
    }
  
    //triangle decoration
    &:before {
      @include position-absolute($top: 50%);
      
      display: none;
      width: 0;
      height: 0;
      content: '';
      transform: translateY(-50%);
      border-top: $timeline-event-decor-dimensions solid transparent;
      border-bottom: $timeline-event-decor-dimensions solid transparent;
    }
  
    //decoration boxshadow
    &:after {
      @include position-absolute($top: 50%);
      
      display: none;
      width: ($timeline-event-decor-dimensions * 2);
      height: ($timeline-event-decor-dimensions * 2);;
      content: '';
      transform: translateY(-50%) rotate(45deg);
    }
  
    @include respond-to("s-768") {
  
      &:before,
      &:after {
        display: block;
      }
    }
  }

  &__event--left {
  
    &:before {
      right: (- $timeline-event-decor-dimensions);
      border-left: $timeline-event-decor-dimensions solid #fff;
    }
    
    &:after {
      right: - $timeline-event-decor-dimensions + 1;
      box-shadow: 2px -1px 1px 0 rgba(0,0,0,0.08);
    }
  }

  &__event--right {
  
    &:before {
      left: - $timeline-event-decor-dimensions;
      border-right: $timeline-event-decor-dimensions solid #fff;
    }
    
    &:after {
      left: (- $timeline-event-decor-dimensions + 1);
      box-shadow: -2px 2px 1px 0 rgba(0,0,0,0.08);
    }
  }

  &__event-date-time {
    padding: $timeline-padding-vert $timeline-padding-horz 0;
    display: flex;
    color: get-color(primary);
    justify-content: flex-end;
  }

  &__event-date {
    margin-right: 10px;
  }

  &__event-title {
    padding-top: 2rem;
    font-weight: 600;
    color:get-color(secondary);
    font-size: 2.5rem;
  }

  &__event-descr {
    padding: 0 $timeline-padding-horz $timeline-padding-vert;

    p {
      margin: 1.5rem 0 0
    }
  }

  &__event-actions {
    padding: $timeline-padding-vert $timeline-padding-horz;
    border-top: 1px solid rgba(160,160,160,0.2);
  }

}
