.header {

  // header—-alpha    :: White senza border bottom NO FIXED
  // header—-bravo    :: Gradiente viola fixed
  // header—-charlie  :: Gradiente pink fixed
  // header--delta    :: Grey header minimal NO FIXED
  // header--echo     :: Black header minimal NO FIXED

  $topbar-root: &;

  width: 100%;
  padding: 0;
  transition: background 250ms;

  

  &--alpha {
    background: get-color(neutral-lowest);
  }

  &--bravo,
  &--charlie {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  &--delta {
    background: get-color(neutral-lower);
  }

  &--echo {
    background: get-color(neutral-highest);
  }

  &__main {
    
    // BRAVO
    #{$topbar-root}--bravo & {
      background: linear-gradient(to bottom, get-color(primary), rgba(get-color(primary), 0.35) 50%, rgba(get-color(neutral-lowest), 0));
      min-height: 140px;

      @include respond-to("s-768") {
        min-height: 240px;
      }
    }

    // CHARLIE
    #{$topbar-root}--charlie & {
      background: linear-gradient(to bottom, get-color(terziary), rgba(get-color(terziary), 0.35) 50%, rgba(get-color(neutral-lowest), 0));
      min-height: 140px;

      @include respond-to("s-768") {
        min-height: 240px;
      }
    }
    
  }

  // Contenitore interno
  &__inner {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    position: relative;
    align-items: center;

    @include respond-to("s-768") {
      padding: 2.5rem 0;
      flex-direction: row;
    }
  }

  &__callme {
    display: flex;
    align-items: center;

    & > svg {
      margin-right: 5px;
      width: 14px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    flex-shrink: 1;
    width: $logo-size-mb;
    order: 2;

    @include respond-to("s-768") {
      width: $logo-size-dk;
      order: 1;
    }

    #{$topbar-root}__topbar & {
      width: $logo-size-mb;
    } 
  }

  // barra top fixed
  &__topbar {
    position: fixed;
    padding: 0;
    left: 0;
    right: 0;
    top: -50px;
    transition: top 400ms, box-shadow 200ms 200ms;
    background: rgba(get-color(neutral-lowest), .95);
    z-index: 9999;
    padding: 1.5rem 0;
    
    a:link,
    a:visited {
      color: get-color(primary);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
    }

    &--visible {
      top: 0;
      box-shadow: 0 0.8rem 2rem -0.9rem rgba(0, 0, 0, 0.3);
    }

    // Se l'header è di tipo sticky -> la topbar non deve esistere
    // #{$topbar-root}--sticky & {
    //   display: none;
    // }
  }

  &__topbarInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigation {
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    order: 3;
    justify-content: flex-end;

    @include respond-to("s-992") {
      width: auto;
      justify-content: flex-start;
    }
  }

  &__navigationItem {
    text-transform: uppercase;
    margin: 0;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    .navigation__anchor {
      display: flex;
      padding: 0.5rem;
      cursor: pointer;
      color: get-color(neutral-lowest);

      #{$topbar-root}--alpha & {
        color: get-color(terziary);
      }

      #{$topbar-root}--delta & {
        color: get-color(primary);
      }

      #{$topbar-root}--echo & {
        color: get-color(neutral-lowest);
      }

    }
  }
}

