.reviews {
  display: flex;


  &__info {
    margin-right: 3rem;
    padding-right: 3rem;
    border-right: 1px solid get-color(neutral-lower);
  }

  &__description {
    flex: 1;
  }

  &__author {
    @extend %style-golf;
    margin-top: 0;

  }

  &__certified {
    @extend %style-hotel;
  }

  &__date {
    @extend %size-micro;
    color: get-color(neutral-higher);
  }

  &__rating {
    margin-top: 4rem;
  }

  &__country {
    @extend %style-hotel;
    text-transform: uppercase;
  }

  &__footer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__name {
    @extend %style-echo;
    margin: 0 1rem 0 0;
  }

  &__tags {
    @extend %size-micro;
    color: get-color(neutral-higher);
  }
}