%badge {
  width: 17px;
  height: 17px;
  background-color: get-color(action);
  color: get-color(neutral-lowest);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  justify-content: center;
  border: 1px solid darken(get-color(action), 20%);
  position: absolute;
  top: -4px;
  right: -7px;
  line-height: 0;

  &:empty {
    display: none;
  }
}