%tag {
  padding: 3px 4px 2px;
  border-radius: 3px;
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  line-height: 1;

  &--dark {
    background: map_get($color-map, primary);
    color: map_get($color-map, neutral-lowest);
  }

  &--light {
    background: map_get($color-map, gallery);
    color: map_get($color-map, primary);
  }

  &--danger {
    background: map_get($color-map, carnation);
    color: map_get($color-map, neutral-lowest);
  }

  &--warning {
    background: map_get($color-map, buttercup);
    color: map_get($color-map, primary);
  }

  &--success {
    background: map_get($color-map, apple);
    color: map_get($color-map, neutral-lowest);
  }
  
}