// Colors Map
$color-map: (
  // mood colors
  primary:    #0a0a0a,
  secondary:  #353435,
  terziary:   #b4b1b4,
  action:     #fea63b,

  // Standard gray
  neutral-lowest:      #ffffff,
  neutral-lower:       #F2F3F3,
  neutral-low:         #EAEBED,
  neutral-medium-low:  #C0C6CB,
  neutral-medium:      #949CA4,
  neutral-medium-high: #78838D,
  neutral-high:        #606972,
  neutral-higher:      #494F56,
  neutral-highest:     #000000,

  // Others
  error:      #ff005c,
  carnation:  #F95C69,
  buttercup:  #efac1a,
  apple:      #469b3f,
  paypal:     #003087,
  facebook:   #3b5998,
  twitter:    #55acee,
  pinterest:  #cc2127,

  success: green,
  warning: orange,
  info: blue,
  danger: black
)!default;