$gutter: 1rem!default;
$basis: 12!default;
$column: (100% / $basis);

// breakpoints map
$breakpoints: (
  's-320':  320px,
  's-520':  520px,
  's-768':  768px,
  's-992':  992px,
  's-1200': 1200px,
  's-1500': 1500px
)!default;

// BEM Mappa macroaree
$rootarea: (
  'page': '.page',
  'header': '.header',
  'accordion': '.accordion',
  'collection': '.collection',
  'footer': '.footer',
  'overlay': '.overlay',
  'button': '.button'
)!default;

// Logo
$logo-size-mb: 50px!default;
$logo-size-dk: 80px!default;

// Timeline
$timeline-bar-bg-start: get-color(primary)!default;
$timeline-bar-bg-end: get-color(terziary)!default;
$timeline-bar-width: 6px!default;
$timeline-date-dimensions: 70px!default;
$timeline-date-radius: 50%!default;
$timeline-event-decor-dimensions: 8px!default;
$timeline-padding-horz: 15px!default;
$timeline-padding-vert: 20px!default;

// Newspaper
$newspaper-column-gap: 30px!default;
$newspaper-column-rule: 1px solid get-color(neutral-lower)!default;