// Gestione dei mediaqueries
@mixin respond-to($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  @if $value != null {
    // If the key exists in the map Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }
  
  @else {
    // If the key doesn't exist in the map
    @error "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
};


// clear
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Vertical align
@mixin vertical-align-translate ($position:relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}
@mixin vertical-align-margin ($height) {
  position: absolute;
  top: 50%;
  margin-top: -($height/2);
}

// ROW
// --------------------
@mixin grid-row($nested: false) {

  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;

  @if $nested {
    margin-left: ($gutter / -2);
    margin-right: ($gutter / -2);
    width: calc(100% + #{$gutter});
  } @else {
    width: 100%;
  }
}

// COLUMN
// --------------------
@mixin grid-column($width: null, $collapse: false){
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @if $collapse == true {
    padding-left: 0;
    padding-right: 0;
  } @else {
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
  }


  @if type-of($width) != map {
    @if $width == 0 {
      width: auto;
      flex: 0 0 auto;
    } @else {
      @if $width == auto {
        flex: 1 1 0;
      } @else {
        width: calc(#{$column} * #{$width});
        flex: 0 0 auto;
      }
    }
  } @else {
    @each $bpoint, $value in $width {
      @include respond-to($bpoint) {
        @if $value == 0 {
          width: auto;
          flex: 0 0 auto;
        } @else {
          @if $value == auto {
            flex: 1 1 0;
          } @else {
            width: calc(#{$column} * #{$value});
            flex: 0 0 auto;
          }
        }
      }
    }
  }
}

//mixins
@mixin transition-mix ($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}