@function map-deep-get($map, $keys...) {
  $value: $map;
  @each $key in $keys {
    $value: map-get($value, $key);
  }
  @return #{$value}
};

@function get-color($color) {
  $value: map-get($color-map, $color);
  @if $value != null {
    @return $value;
  }
  @else {
    // If the key doesn't exist in the map
    @error "Unfortunately, no value could be retrieved from `#{$color}`. "
        + "Please make sure it is defined in `$color-map` map.";
  }
};